@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

:root {
    --background: #333;
    --header-background: rgba(0, 255, 255, 0.5);
    --menu-color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Work Sans', sans-serif;
    font: 800;
}

.content {
    height: 200vh;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

header {
    background: var(--header-background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--header-background);
    width: 100%;
    /*diplay: none;*/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}

.nav-toggle:checked ~ nav{
    display: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--menu-color);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label:hover {
    --menu-color: black;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.logo {
    width: 3.5em;
}